<script src="/login/status"></script>
<script>
    if (!isLogin) location.href = 'login.html';
</script>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="css/res.css" rel="stylesheet">
    <script src="js/jquery.min.js"></script>
    <script src="js/template-web.js"></script>
</head>

<body>
    <button type="button" id="tui">退出</button>
    <header>问卷调查结果</header>
    <main>
        <table cellspacing="0" cellpadding="0" id="table1">
            <thead>
                <tr class="tous">
                    <td>性别</td>
                    <td>年龄</td>
                    <td>学历</td>
                    <td onclick="goHigh()">
                            是否了解物联网
                    </td>
                    <td  onclick="goHigh2()">哪里了解物联网</td>
                    <td>最希望应用哪个方面</td>
                    <td>物联网前景如何</td>
                    <td>物联网如何</td>
                    <td>操作</td>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </main>

    <script type="text/html" id="tpl">
        {{each response}}
        <tr>
            {{$value}}
            <td>{{$value.sex==0?'男':'女'}}</td>
            {{if $value.age==0}}
            <td>15-20岁</td>
            {{else if $value.age==1}}
            <td>20-25岁</td>
            {{else if $value.age==2}}
            <td>25-30岁</td>
            {{else}}
            <td>20-25岁</td>
            {{/if}} {{if $value.level==0}}
            <td>高中及以下</td>
            {{else if $value.level==1}}
            <td>大专</td>
            {{else if $value.level==2}}
            <td>本科</td>
            {{else}}
            <td>研究生及以上</td>
            {{/if}} {{if $value.is==0}}
            <td>有，并深入了解过</td>
            {{else if $value.is==1}}
            <td>接触过一点</td>
            {{else}}
            <td>没有</td>
            {{/if}}
            
            {{if $value.where==0}}
            <td>网络</td>
            {{else if $value.where==1}}
            <td>电视</td>
            {{else if $value.where==2}}
            <td>报纸</td>
            {{else if $value.where==3}}
            <td>书上</td>
            {{else}}
            <td>听别人说的</td>
            {{/if}} 
            
            {{if $value.app1==0}}
            <td>家居智能</td>
            {{else if $value.app1==1}}
            <td>道路交通</td>
            {{else if $value.app1==2}}
            <td>帮助弱势群体及儿童</td>

            {{else}}
            <td>安防监控</td>
            {{/if}} {{if $value.good==0}}
            <td>很好，并很快占据市场</td>
            {{else if $value.good==1}}
            <td>很好，但对我没什么影响</td>
            {{else}}
            <td>不看好，技术不成熟</td>
            {{/if}}
            <td>{{$value.view}}</td>
            <td>
                <button class="del" data-id="{{$value._id}}" " >删除</button>
            </td>
        </tr>
        {{/each}}
    </script>
    <script src="js/res.js"></script>
    <script>
        function goHigh(){
            window.location.assign('/resHigh.html')
        }
        function goHigh2(){
            window.location.assign('/resHigh2.html')
        }

        $('#table1').on('click', '.del', function (e) {
            var id = e.target.dataset.id
            $.ajax({
                type: 'get',
                url: '/del',
                data: {
                    id: id
                },
                success: function (response) {
                    alert(response)
                    window.location.assign('/res.html')

                }

            })


        }



        );

    </script>
</body>

</html>